<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>修改出库记录</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
              content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
        <link rel="stylesheet" th:href="${urls.getForLookupPath('/css/font.css')}">
        <link rel="stylesheet" th:href="${urls.getForLookupPath('/css/xadmin.css')}">
        <script th:src="${urls.getForLookupPath('/lib/layui/layui.js')}" charset="utf-8"></script>
        <script type="text/javascript" th:src="${urls.getForLookupPath('/js/xadmin.js')}"></script>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div>
                        <input type="text" hidden th:value="${editOutstock.id}" th:name="id">
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>产品编号</label>
                        <div class="layui-input-inline">
                            <input th:value="${editOutstock.pid}" type="text" id="outstockPid"
                                   name="outstockPid" required=""
                                   lay-verify="outstockPid" autocomplete="off" placeholder="请输入产品编号"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>仓库编号</label>
                        <div class="layui-input-inline">
                            <input id="outstockRid" name="outstockRid" type="text" lay-verify="outstockRid"
                                   autocomplete="off"
                                   th:value="${editOutstock.rid}" class="layui-input"
                                   placeholder="请输入仓库编号">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>出库数量</label>
                        <div class="layui-input-inline">
                            <input id="outstockAmount" name="outstockAmount" type="text" lay-verify="outstockAmount"
                                   autocomplete="off"
                                   th:value="${editOutstock.amount}" class="layui-input"
                                   placeholder="请输入库数量" onchange="checkIsLower()">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span id="amounttip" class="x-red" style="font-weight: bold;"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>出库时间</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" id="outstockDate" name="outstockDate" layui-verify="outstockDate" type="text"
                                   th:value="${#dates.format(editOutstock.datetime, 'yyyy-MM-dd')}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>经办人</label>
                        <div class="layui-input-inline">
                            <input id="outstockName" name="outstockName" type="text" lay-verify="outstockName"
                                   autocomplete="off"
                                   th:value="${editOutstock.name}" class="layui-input"
                                   placeholder="请输入经办人">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button lay-filter="edit" id="addButton" lay-submit="" class="layui-btn layui-btn-fluid">确认修改</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            layui.use(['form', 'layer', 'laydate'],
                function () {
                    $ = layui.jquery;
                    var form = layui.form,
                        layer = layui.layer, SendData,
                        laydate = layui.laydate;

                    laydate.render({
                        elem: '#outstockDate'
                        , showBottom: false
                        , trigger: 'click'
                    });

                    //自定义验证规则
                    form.verify({
                        instockPid: function (value) {
                            if (value.length === 0) {
                                return '产品编号不能为空！';
                            }
                        },
                        instockRid: function (value) {
                            if (value.length === 0) {
                                return '仓库编号不能为空！';
                            }
                        },
                        instockAmount: function (value) {
                            if (value.length === 0) {
                                return '入库数量不能为空!';
                            } else if (value <= 0) {
                                return '入库数量要大于0!';
                            }
                        },
                        instockName: function (value) {
                            if (value.length === 0) {
                                return '经办人不能为空!';
                            }
                        }

                    });

                    //监听提交
                    form.on('submit(edit)', function (data) {
                        console.log(data);

                        // 使用ajax传送数据
                        SendData = $.ajax({
                            type: "POST",
                            url: "/usermanage/updateOutstock",
                            data: {
                                id: data.field.id,
                                pid: data.field.outstockPid,
                                rid: data.field.outstockRid,
                                amount: data.field.outstockAmount,
                                datetime: data.field.outstockDate,
                                name: data.field.outstockName,
                            },

                            success: function () {
                                layer.alert('修改成功！', {
                                        icon: 6
                                    },
                                    function () {
                                        xadmin.father_reload();     // 对父窗口进行刷新
                                        xadmin.close();         // 关闭当前 frame
                                    });
                            },
                            error: function () {
                                layer.alert('修改失败！', {icon: 5});
                            }
                        });
                        // 等待 ajax 执行完毕
                        $.when(SendData).done(function (value) {

                        });
                        return false;
                    });

                });
            function checkIsLower() {
                var amount = document.getElementById('outstockAmount').value;
                var pid = document.getElementById('outstockPid').value;
                console.log(amount);
                console.log(pid);
                $.ajax({
                    url: "/usermanage/checkIsLower/" + pid + "/" + amount,
                    type: 'GET',
                    success: function (result) {
                        if (result === 'lower'){
                            $('#amounttip').html("出库数量太多，剩余产品不足！");
                            $('#addButton').attr("disabled", "true");
                        }else{
                            $('#amounttip').html("出库数量正常！");
                            $('#addButton').removeAttr("disabled");
                        }
                    }
                })
            }
        </script>
    </body>

</html>